* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  margin: 2% 0% 0% 0%;
}

.LeftPart {
  width: 30%;
  text-align: center;
}

.RightPart {
  text-align: center;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 50%;
}

td {
  padding: 4%;
}
